<thead>
  <tr>
    <td>Libellé</td>
    <td>Objet</td>
    <td>Emetteur</td>
    <td>Message</td>
    <td>Date d'envoi</td>
  </tr>
</thead>

<tbody>
  <% unless @message_logs.blank? %>
    <% @message_logs.each do |message_log| %>
      <tr>
        <% status = (message_log.status == "1701" ? 'taskPr' : 'taskD') %>
        <td class = "<%= status %>">
          <%= message_log.customer.label rescue nil %>
        </td>
        <td>
          <%= message_log.subject rescue nil %>
        </td>
        <td>
          <%= message_log.sender rescue nil %>
        </td>
        <td>
          <%= message_log.message %>
        </td>
        <td>
          <%= message_log.created_at.strftime("%d-%m-%Y") + " - " + message_log.created_at.strftime("%Hh %Mmn") %>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>
