<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

  <title>SmsGateway::NGSER::Client</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body class="nobg loginPage">

<!-- Top fixed navigation -->
<div class="topNav">
    <div class="wrapper">
        <div class="userNav">
            <ul>
                <li></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</div>



<!-- Main content wrapper -->
<div class="loginWrapper">
  <% flash.each do |key, value| %>
    <div class="nNote nInformation hideit" style = "width: 340px;">
      <p>
        <%= value %>
      </p>
    </div>
  <% end %>
  <%= @error_message %>
  <%= @success_message %>

  <div class="loginLogo"><img src="<%= asset_path 'loginLogo.png' %>" alt="" /></div>
  <div class="widget">
      <div class="title"><img src="<%= asset_path 'icons/dark/files.png' %>" alt="" class="titleIcon" /><h6>Formulaire de connexion client</h6></div>
      <%= form_tag(create_customer_session_path) do %>
        <fieldset>
            <div class="formRow">
              <label for="login">Login:</label>
              <div class="loginInput">
                <%= text_field_tag :email, "", autofocus: true, placeholder: "Veuillez entrer votre email" %>
              </div>

              <div class="clear"></div>
            </div>

            <div class="formRow">
              <label for="pass">Mot de passe:</label>
              <div class="loginInput">
                <%= password_field_tag :password, "", autocomplete: "off", placeholder: "Veuillez entrer votre mot de passe" %>
              </div>
              <div class="clear"></div>
            </div>

            <div class="loginControl">
              <%= submit_tag "Se connecter", class: "dredB logMeIn" %>
              <div class="clear"></div>
            </div>
        </fieldset>
      <% end %>

      <%#= render "devise/shared/links" %>
  </div>
</div>

</body>
</html>
