<thead>
  <tr>
    <td>Profil</td>
    <td>Service</td>
    <td>Emetteur</td>
    <td>Date d'envoi</td>
    <!--<td>Date de fin</td>-->
    <td>Nombre total de messages</td>
  </tr>
</thead>

<tbody>
  <% unless @transactions.blank? %>
    <% @transactions.each do |transaction| %>
      <tr>
        <% status = (transaction.ended_at.blank? ? 'taskD' : 'taskPr') %>
        <td class = "<%= status %>">
          <%= link_to transaction.description, customer_email_logs_path(transaction.id) %>
        </td>
        <td>
          <%= Customer.find_by_id(transaction.customer_id).label rescue "" %>
          <%#= transaction.sender_service %>
        </td>
        <td>
          <%#= transaction.sender_service %>
          <%#= transaction.sender_service %>
        </td>
        <td>
          <%= (transaction.started_at.strftime("%d-%m-%Y") rescue "") + " - " + (transaction.started_at.strftime("%Hh %Mmn") rescue "") %>
        </td>
        <!--<td>
          <%= (transaction.ended_at.strftime("%d-%m-%Y") rescue "") + " - " + (transaction.ended_at.strftime("%Hh %Mmn") rescue "") %>
        </td>-->
        <td>
          <%= transaction.number_of_messages %>
        </td>
      </tr>
    <% end %>
  <% end %>
</tbody>
